<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/css/account/marketing.css" type="text/css" rel="stylesheet">
    <title>마케팅 목적의 개인정보 수집 및 이용에 대한 동의</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <!-- <script>
    $(function() {
      $.ajax({
        url: "/header", // 헤더를 반환하는 엔드포인트
        success: function(data) {
          $("#header").html(data);
        }
      });

      $.ajax({
        url: "/footer", // 푸터를 반환하는 엔드포인트
        success: function(data) {
          $("#footer").html(data);
        }
      });
    });
  </script>-->
</head>

<body>
<div id="header"></div>

<div class="article-container" id="article-container">
  <article class="article">
      <h1 title="마케팅 목적의 개인정보 수집 및 이용에 대한 동의" class="article-title">
        마케팅 목적의 개인정보 수집 및 이용에 대한 동의
      </h1>

    <section class="article-info">
      <div class="article-content">
        <div class="article-body"><p>1) 마케팅 정보 수신 동의는 [계정 설정&gt; 알림 설정]을 통해 언제든지 변경(동의/철회) 하실 수 있습니다. <br>2) 귀하는 개인정보 수집 및 이용에 대한 동의를 거부할 권리가 있으나, 동의를 거부하는 경우 각종 소식 및 이벤트 내용과 관련된 정보를 더 이상 제공 받으실 수 없습니다.</p>
          <p>&nbsp;</p>
          <table style="width: 769.833px; height: 167px;" border="2" cellspacing="1" cellpadding="2"><colgroup><col width="100"><col width="100"><col width="100"><col width="100"></colgroup>
            <tbody>
            <tr style="height: 33px;">
              <td class="wysiwyg-text-align-center" style="width: 208.021px; height: 33px;" colspan="2"><strong>개인정보 수집 항목</strong><strong><br></strong></td>
              <td class="wysiwyg-text-align-center" style="width: 322.896px; height: 33px;" colspan="2"><strong>개인정보 수집 이용 목적</strong></td>
              <td class="wysiwyg-text-align-center" style="width: 206.24px; height: 33px;"><span class="wysiwyg-color-black"><strong>제공받는 자의 </strong></span><br><span class="wysiwyg-color-black"><strong>보유 및 이용기간</strong></span></td>
            </tr>
            <tr style="height: 134px;">
              <td class="wysiwyg-text-align-center" style="width: 208.021px; height: 134px;" colspan="2">
                <p class="wysiwyg-text-align-center">[회원정보]<br>이름, 휴대폰 번호, 이메일 주소, 생년월일, 성별, 거래기록, 직업, 비즈니스 분야</p>
                <p class="wysiwyg-text-align-center">[서비스 이용정보]<br>쿠키에 의한 자동수집 정보</p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 322.896px; height: 134px;" colspan="2">
                <p class="wysiwyg-text-align-left wysiwyg-indent1">&nbsp;▪ SMS, 이메일, 앱푸시 등 전자적 전송 매체를 통한 개인 맞춤형 광고 전송</p>
                <p class="wysiwyg-text-align-left wysiwyg-indent1">&nbsp;▪ 관심사 기반 맞춤형 광고 게재</p>
                <p class="wysiwyg-text-align-left wysiwyg-indent1">&nbsp;▪ 이벤트 및 프로모션 관련 정보 안내</p>
                <p class="wysiwyg-text-align-left wysiwyg-indent1">&nbsp;▪ 신규 서비스(제품) 출시 정보 및 회원 특화 정보 제공</p>
                <p class="wysiwyg-text-align-left wysiwyg-indent1">&nbsp;▪ 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계</p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 206.24px; height: 134px;">
                <div>수신 동의 철회 및 회원 탈퇴 시까지</div>
              </td>
            </tr>
            </tbody>
          </table>
          <p>&nbsp;</p></div>
      </div>
    </section>

    <section class="article-relatives">

    </section>
  </article>
</div>

<div id="footer"></div>
</body>
</html>