<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/css/account/privacy.css" type="text/css" rel="stylesheet">
    <title>개인정보의 수집 및 이용</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!--  <script>
      $(function() {
        $.ajax({
          url: "/header", // 헤더를 반환하는 엔드포인트
          success: function(data) {
            $("#header").html(data);
          }
        });

        $.ajax({
          url: "/footer", // 푸터를 반환하는 엔드포인트
          success: function(data) {
            $("#footer").html(data);
          }
        });
      });
    </script>-->
</head>

<body>
<div id="header"></div>

<div class="article-container" id="article-container">
  <article class="article">
      <h1 title="개인정보의 수집 및 이용" class="article-title">
        개인정보의 수집 및 이용
      </h1>

    <section class="article-info">
      <div class="article-content">
        <div class="article-body"><p>1) 회사는 텍스트, 이미지, 음성 등의 개인정보를 수집 및 이용할 수 있습니다. 회사가 수집하는 정보 및 보유기간에 대한 상세한 내용은 아래 표와 같습니다.&nbsp;</p>
          <p>2) 수집한 개인정보는 법령에 따른 개인정보 이용·보유기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 이용·보유기간 내에서 처리 및 보관합니다.</p>
          <p>3) 회사는 전자상거래 등에서의 소비자보호에 관한 법률, 국세기본법, 전자금융거래법 등 관련 법령에 따라 주민등록번호 및 은행 계좌번호의 수집∙보관이 불가피한 경우에는 회원에게 사전 고지하여 정보를 수집할 수 있습니다.</p>
          <p>4) 회사는 회원의 기본적 인권을 침해할 우려가 있는 민감한 정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향, 범죄기록, 건강 상태 등)는 회원의 동의 또는 법령의 규정에 의한 경우 이외에는 수집하지 않습니다.</p>
          <p>&nbsp;</p>
          <p><strong>■ 서비스 이용 시 수집되는 정보</strong></p>
          <table style="width: 100%; margin-right: auto; margin-left: auto; height: 2629px;" border="1" cellpadding="2">
            <tbody>
            <tr style="height: 44px;">
              <td style="text-align: center; width: 11.1429%; height: 44px;"><strong><span style="color: black;">구분</span></strong></td>
              <td style="text-align: center; width: 10.2858%; height: 44px;"><strong><span style="color: black;">유형</span></strong></td>
              <td style="text-align: center; width: 21.8572%; height: 44px;"><strong><span style="color: black;">수집 및 이용 목적</span></strong></td>
              <td style="text-align: center; width: 39%; height: 44px;"><strong><span style="color: black;">수집항목</span></strong></td>
              <td style="text-align: center; width: 17.5714%; height: 44px;"><strong><span style="color: black;">보유 및 이용 기간</span></strong></td>
            </tr>
            <tr style="height: 165px;">
              <td style="text-align: center; width: 11.1429%; height: 1004px;" rowspan="6"><span class="wysiwyg-font-size-medium">회원</span><br><span class="wysiwyg-font-size-medium">(의뢰인, 전문가)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 165px;"><span class="wysiwyg-font-size-medium">회원가입</span><br><span class="wysiwyg-font-size-medium">(이메일)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 1004px;" rowspan="6">
                <p><span class="wysiwyg-font-size-medium"><span style="color: #202429;">- </span><span style="color: #202429;">회원가입 확인 및<br>&nbsp;&nbsp;회원관리</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #202429;">- </span><span style="color: #202429;">회원 서비스 제공</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #202429;">- </span><span style="color: #202429;">서비스 제공 서비스 개선</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #202429;">- </span><span style="color: #202429;">중복가입의 확인 및 불량 회원의 부정 이용 방지<br>- 서비스 이용에 대한 공지<br>- 서비스 이용에 대한 상담 민원 처리</span></span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; text-align: center; vertical-align: middle; height: 165px;">
                <p><strong><span class="wysiwyg-font-size-medium">(의뢰인 필수) </span></strong><span class="wysiwyg-font-size-medium">이메일 주소, 비밀번호, 닉네임, 직업, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>전문가 필수)</strong> 이메일 주소, 이름(실명), 휴대폰 번호, 생년월일, 성별, 닉네임, 직업, CI, 비즈니스 분야, 관심사</span><br><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택)</strong> 마케팅 목적의 개인정보 수집 및 이용</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 17.5714%; height: 1124px;" rowspan="7">
                <p><span class="wysiwyg-font-size-medium">- 회원 탈퇴 시 즉시 삭제</span></p>
                <p>&nbsp;</p>
                <p><span class="wysiwyg-font-size-medium">- 부정이용 방지를 위한 정보는 탈퇴 DB에서 1년 후 삭제</span></p>
                <p>&nbsp;</p>
                <p><span class="wysiwyg-font-size-medium">- 관련 법령에 따라 보관이 필요한 경우, 해당 기간까지 보관</span></p>
              </td>
            </tr>
            <tr style="height: 172px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 172px;"><span class="wysiwyg-font-size-medium">회원가입</span><br><span class="wysiwyg-font-size-medium">(네이버)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 39%; text-align: center; vertical-align: middle; height: 172px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>의뢰인 필수)</strong> 이메일 주소, 닉네임, 직업, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>전문가 필수) </strong>이메일 주소, 이름(실명), 휴대폰 번호, 생년월일, 성별, 닉네임, 직업, CI, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택)</strong> 별명, 프로필 사진, 성별, 생일, 연령대, 마케팅 목적의 개인정보 수집 및 이용</span></p>
              </td>
            </tr>
            <tr style="height: 172px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 172px;"><span class="wysiwyg-font-size-medium">회원가입</span><br><span class="wysiwyg-font-size-medium">(카카오톡)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 172px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>의뢰인 필수) </strong>이메일 주소, 닉네임, 직업, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>전문가 필수)</strong> 이메일 주소, 이름(실명), 휴대폰 번호, 생년월일, 성별, 닉네임, 직업, CI, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택)</strong> 마케팅 목적의 개인정보 수집 및 이용</span></p>
              </td>
            </tr>
            <tr style="height: 172px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 172px;"><span class="wysiwyg-font-size-medium">회원가입</span><br><span class="wysiwyg-font-size-medium">(페이스북)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 172px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>의뢰인 필수) </strong>이메일 주소, 닉네임, 직업, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>전문가 필수)</strong> 이메일 주소, 이름(실명), 휴대폰 번호, 생년월일, 성별, 닉네임, 직업, CI, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택)</strong> 마케팅 목적의 개인정보 수집 및 이용</span></p>
              </td>
            </tr>
            <tr style="height: 165px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 165px;">
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">회원가입</span></p>
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">(구글)</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 165px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>의뢰인 필수)</strong> 이메일 주소, 닉네임, 직업, 비즈니스 분야, 관심사</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>전문가 필수) </strong>이메일 주소, 이름(실명), 휴대폰 번호, 생년월일, 성별, 닉네임, 직업, CI, 비즈니스 분야, 관심사</span><br><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택)</strong> 마케팅 목적의 개인정보 수집 및 이용</span></p>
              </td>
            </tr>
            <tr style="height: 158px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 158px;">
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">회원가입</span></p>
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">(애플)</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 158px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>의뢰인 필수)</strong> 이메일 주소, 닉네임, 직업, 비즈니스 분야, 관심사</span><br><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>전문가 필수)</strong> 이메일 주소, 이름(실명), 휴대폰 번호, 생년월일, 성별, 닉네임, 직업, CI, 비즈니스 분야, 관심사</span><br><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택) </strong>마케팅 목적의 개인정보 수집 및 이용</span></td>
            </tr>
            <tr style="height: 120px;">
              <td style="text-align: center; width: 11.1429%; height: 120px;">
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">회원</span></p>
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">(의뢰인)</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 120px;">
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">나의정보/</span></p>
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">휴대폰<br></span><span class="wysiwyg-font-size-medium">본인인증</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 120px;">
                <p><span class="wysiwyg-font-size-medium">- 회원의 식별 및 미성년자의 식별</span></p>
                <p><span class="wysiwyg-font-size-medium">- 서비스 제공에 따르는 본인인증, 정확한 결제 및 환불 서비스</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 120px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 이름(실명), 휴대폰 번호, 생년월일, 성별, CI</span></td>
            </tr>
            <tr style="height: 201px;">
              <td style="text-align: center; width: 11.1429%; height: 415px;" rowspan="6"><span class="wysiwyg-font-size-medium">회원</span><br><span class="wysiwyg-font-size-medium">(의뢰인, 전문가)</span><br><span class="wysiwyg-font-size-medium"><br></span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 245px;" rowspan="3">
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">서비스</span></p>
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">주문/결제</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 201px;">
                <p><span class="wysiwyg-font-size-medium">- 주문 상품의 결제</span></p>
                <p><span class="wysiwyg-font-size-medium">- 상담 및 분쟁해결</span></p>
                <p><span class="wysiwyg-font-size-medium">- 부정 이용 방지</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 201px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(필수</strong><strong>) </strong>신용카드 : 카드사명, 카드번호, 유효기간</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(필수</strong><strong>)</strong> 휴대폰 : 휴대폰 번호, 통신사명</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(필수)</strong>&nbsp;실시간 계좌이체 : 은행명, 계좌번호</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(필수</strong><strong>)</strong> 무통장 입금 : 은행명, 입금자명</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(필수)</strong> 현금 영수증 발급정보: 휴대폰 번호, 현금영수증카드정보, 주민(사업자) 번호</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 17.5714%; height: 302px;" rowspan="6">
                <p><span class="wysiwyg-font-size-medium">- 전자상거래 등에서의 소비자보호에 관한 법률에 의거하여 5년간 보관 후 파기</span></p>
                <p>&nbsp;</p>
                <p><span class="wysiwyg-font-size-medium">- 부정이용 방지를 위한 회원 식별 정보(CI)는 탈퇴 DB에서 1년 후 삭제</span></p>
                <p>&nbsp;</p>
                <p><span class="wysiwyg-font-size-medium">- 안심번호 서비스 이용기록(음성 녹취 파일)은 1개월간 보관</span></p>
              </td>
            </tr>
            <tr style="height: 22px;">
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 22px;">
                <p><span class="wysiwyg-font-size-medium">- 현금영수증 발급</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 22px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(필수)</strong>휴대폰 번호, 현금영수증카드정보, 주민(사업자) 번호</span></p>
              </td>
            </tr>
            <tr style="height: 22px;">
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 22px;">
                <p><span class="wysiwyg-font-size-medium">- 세금계산서 발행</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 22px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 회사명(법인명) 사업자등록번호, 대표자명, 사업장 주소, 세금계산서 이메일, 담당자명, 담당자 연락처<strong><br></strong></span></p>
              </td>
            </tr>
            <tr style="height: 57px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 57px;"><span class="wysiwyg-font-size-medium">환불</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 57px;">
                <p><span class="wysiwyg-font-size-medium">- 프리트리 캐시의 환불</span></p>
                <p><span class="wysiwyg-font-size-medium">- 부정 이용 방지</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 57px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 예금주 성명, 은행명, 계좌번호</span></td>
            </tr>
            <tr style="height: 113px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 113px;"><span class="wysiwyg-font-size-medium">배송상품 구매</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 113px;"><span class="wysiwyg-font-size-medium">- 전자상거래 계약 이행 및 서비스 제공, 의뢰인 확인, 고객상담, 상품/서비스의 배송 업무 처리 등</span></td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 113px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 이름, 연락처, 주소</span></td>
            </tr>
            <tr style="height: 89px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 89px;"><span class="wysiwyg-font-size-medium">부정이용관리 실시간 감사</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 89px;"><span class="wysiwyg-font-size-medium">- 부정 이용 방지</span></td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 89px;"><span class="wysiwyg-font-size-medium"><strong>(필수) </strong>메시지 수·발신 내역, 안심번호 서비스 이용 기록(음성 녹취)</span></td>
            </tr>
            <tr style="height: 142px;">
              <td style="text-align: center; width: 11.1429%; height: 232px;" rowspan="2"><span class="wysiwyg-font-size-medium">전문가</span><br><span class="wysiwyg-font-size-medium">(개인 전문가, 사업자 전문가)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 142px;"><span class="wysiwyg-font-size-medium">전문가 정보</span><br><span class="wysiwyg-font-size-medium">(프로필 등록 시)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 142px;">
                <p><span class="wysiwyg-font-size-medium">- 전문가 서비스 등록 및 판매</span></p>
                <p><span class="wysiwyg-font-size-medium">- 프로젝트 제안</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 142px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 프로필 사진, 전문가 닉네임, 지역, 전문분야 및 상세분야, 보유기술, 경력사항(회사명, 근무부서, 직위, 근무지, 근무기간), 희망급여, 상주 가능 여부</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택) </strong>학력사항, 자격증, 경력사항 증빙 자료</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 17.5714%; height: 613px;" rowspan="5">
                <p><span class="wysiwyg-font-size-medium">- 회원 탈퇴 시 즉시 삭제</span></p>
                <p>&nbsp;</p>
                <p><span class="wysiwyg-font-size-medium">- 관련 법령에 따라 보관이 필요한 경우, 해당 기간까지 보관</span></p>
              </td>
            </tr>
            <tr style="height: 90px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 90px;"><span class="wysiwyg-font-size-medium">서비스 등록</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 90px;"><span class="wysiwyg-font-size-medium">- 허위 등록 여부 확인</span></td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 90px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택) </strong>학력사항, 자격증, 경력사항 증빙 자료<strong><br></strong><strong>　</strong>※ 일부 카테고리의 경우, 작성한 내용에 대한 증빙을 필수로 요청함</span></td>
            </tr>
            <tr style="height: 142px;">
              <td style="text-align: center; width: 11.1429%; height: 246px;" rowspan="2">
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">전문가</span></p>
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">(개인 전문가)</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 142px;"><span class="wysiwyg-font-size-medium">전문가 정보</span><br><span class="wysiwyg-font-size-medium">(인증 정보 등록시)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 142px;">
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">판매 수수료 세금계산서 발행</span>(부가가치세법 제32조에 따른 세금계산서 발행)</span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">전문가 서비스 등록 및 판매</span></span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 142px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 주민등록번호</span></td>
            </tr>
            <tr style="height: 104px;">
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 104px;"><span class="wysiwyg-font-size-medium">전문가 정보</span><br><span class="wysiwyg-font-size-medium">(수익금 출금 시)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 104px;">
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">수익금 출금</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">본인 계좌 및 허위 계좌 여부 확인</span></span><span class="wysiwyg-font-size-medium" style="color: #323232; background-color: white;">&nbsp;</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 104px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수) </strong>은행명, 계좌번호</span></td>
            </tr>
            <tr style="height: 135px;">
              <td style="text-align: center; width: 11.1429%; height: 135px;">
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">전문가</span></p>
                <p class="wysiwyg-text-align-center"><span class="wysiwyg-font-size-medium">(사업자 전문가)</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 135px;"><span class="wysiwyg-font-size-medium">전문가 등록시</span><br><span class="wysiwyg-font-size-medium">(사업자 인증시)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 135px;">
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">판매 수수료 세금계산서 발행</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">수익금 출금</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">전문가 서비스 등록 및 판매</span></span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 135px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 사업자 등록번호, 기업명(상호), 대표자명, 사업장 소재지, 업태, 업종, 세금산서 수취 이메일 주소, 세금계산서 담당자, 세금 계산서 담당자 연락처, 은행명, 계좌번호, 예금주명, 사업자 증빙서류 (사업자등록증 사본, 사업자/대표자 통장 사본)</span></td>
            </tr>
            <tr style="height: 127px;">
              <td style="text-align: center; width: 11.1429%; height: 127px;"><span class="wysiwyg-font-size-medium">회원</span><br><span class="wysiwyg-font-size-medium">(의뢰인, 전문가)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 217px;" rowspan="2"><span class="wysiwyg-font-size-medium">고객문의 및 상담</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 127px;">
                <p><span class="wysiwyg-font-size-medium">- 상담 내용의 기록 및 분쟁 해결</span></p>
                <p><span class="wysiwyg-font-size-medium">- 본인확인</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 127px;">
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 상담 내용 녹취 파일, 전화번호, 이메일 주소</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택) </strong>이름, 생년월일</span></p>
                <p><span class="wysiwyg-font-size-medium"><strong>　</strong>※ 문의/신고 유형에 따라 추가로 요청하는 개인정보가 있을 수 있음</span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 17.5714%; height: 127px;"><span class="wysiwyg-font-size-medium">전자상거래 등에서의 소비자보호에 관한 법률에 의거하여 3년간 보관 후 파기</span></td>
            </tr>
            <tr style="height: 90px;">
              <td style="text-align: center; width: 11.1429%; height: 90px;"><span class="wysiwyg-font-size-medium">비회원</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 90px;"><span class="wysiwyg-font-size-medium">- 프리트리 엔터프라이즈 이용 문의, 상담, 안내</span></td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 90px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>필수)</strong> 성명, 휴대폰 번호, 이메일 주소, 회사명, 회사 직책</span></td>
              <td class="wysiwyg-text-align-center" style="width: 17.5714%; height: 90px;"><span class="wysiwyg-font-size-medium">상담 및 문의 접수일로부터 2년 또는 정보주체의 파기 요청 시까지</span></td>
            </tr>
            <tr style="height: 127px;">
              <td style="text-align: center; width: 11.1429%; height: 127px;"><span class="wysiwyg-font-size-medium">회원</span><br><span class="wysiwyg-font-size-medium">(의뢰인, 전문가)</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.2858%; height: 127px;"><span class="wysiwyg-font-size-medium">마케팅</span></td>
              <td class="wysiwyg-text-align-center" style="width: 21.8572%; height: 127px;">
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">회원 대상 마케팅</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">맞춤형 정보 서비스 제공</span></span></p>
                <p><span class="wysiwyg-font-size-medium"><span style="color: #323232; background-color: white;">- </span><span style="color: #323232; background-color: white;">서비스 이용 통계 및 설문</span></span></p>
              </td>
              <td class="wysiwyg-text-align-center" style="width: 39%; height: 127px;"><span class="wysiwyg-font-size-medium"><strong>(</strong><strong>선택)</strong> 이름, 이메일 주소, 휴대폰 번호, 성별, 기타 서비스 이용, 거래 기록, 직업 및 비즈니스 분야, 경력년수</span></td>
              <td class="wysiwyg-text-align-center" style="width: 17.5714%; height: 127px;"><span class="wysiwyg-font-size-medium">동의 철회 또는 회원 탈퇴 시까지</span></td>
            </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p><strong>■ 개인정보의 보유 및 이용기간</strong></p>
          <p><span style="color: black;">회원의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.</span></p>
          <p><span style="color: black;">단, 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리 목적이 달성되었음에도 불구하고 내부 방침 또는 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는 해당 개인정보를 별도 데이터베이스(DB)로 옮기거나 보관 장소를 달리하여 보존합니다.</span></p>
          <p>이 경우 회사는 해당 정보를 아래의 보존 이유에 따른 목적과 기간 내에서만 보관할 수 있습니다.</p>
          <p><strong>1. </strong>내부 방침에 따라 보유하고 있는 경우</p>
          <table style="width: 100%;" border="1">
            <tbody>
            <tr>
              <td style="text-align: center; width: 15.5715%;"><strong><span style="color: black;">항목</span></strong></td>
              <td style="text-align: center; width: 17.8571%;"><strong><span style="color: black;">보존항목</span></strong></td>
              <td style="text-align: center; width: 56.1428%;"><strong><span style="color: black;">보존이유</span></strong></td>
              <td style="text-align: center; width: 10.4286%;"><strong><span style="color: black;">보존 기간</span></strong></td>
            </tr>
            <tr>
              <td class="wysiwyg-text-align-center" style="width: 15.5715%;"><span class="wysiwyg-font-size-medium">부정이용 기록</span></td>
              <td class="wysiwyg-text-align-center" style="width: 17.8571%;"><span class="wysiwyg-font-size-medium">휴대폰 번호, <br>이메일 주소</span></td>
              <td class="wysiwyg-text-align-center" style="width: 56.1428%;"><span class="wysiwyg-font-size-medium">부정거래 등 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.4286%;"><span class="wysiwyg-font-size-medium">1년</span></td>
            </tr>
            </tbody>
          </table>
          <p class="wysiwyg-indent0.8333333333333334"><span class="wysiwyg-font-size-medium" style="color: black;">※ 부정이용: 부정이용은 아래의 경우를 의미합니다.<br></span><span class="wysiwyg-font-size-medium"><span style="color: black;">- </span><span style="color: black;">법령 또는 회사와 회원 간의 서비스 이용약관에 위배되는 방법이나 내용의 거래<br></span></span><span class="wysiwyg-font-size-medium"><span style="color: black;">- </span><span style="color: black;">기타 회사, 회원 또는 타인의 권리나 이익을 침해하는 방법이나 내용의 거래<br></span></span><span class="wysiwyg-font-size-medium"><span style="color: black;">- </span><span style="color: black;">공서양속을 해치는 방법이나 내용의 거래</span></span></p>
          <p class="wysiwyg-indent0.8333333333333334"><span style="color: black;"><strong>2.</strong> 관계법령에 따라 보존하는 경우</span></p>
          <table style="width: 100%;" border="1">
            <tbody>
            <tr>
              <td style="text-align: center; width: 30.8571%;"><strong><span style="color: black;">항목</span></strong></td>
              <td style="text-align: center; width: 58.7143%;"><strong><span style="color: black;">보존이유</span></strong></td>
              <td style="text-align: center; width: 10.4285%;"><strong><span style="color: black;">보존 기간</span></strong></td>
            </tr>
            <tr>
              <td class="wysiwyg-text-align-center" style="width: 30.8571%;"><span class="wysiwyg-font-size-medium">계약 또는 청약철회 등에 관한 기록</span></td>
              <td class="wysiwyg-text-align-center" style="width: 58.7143%;"><span class="wysiwyg-font-size-medium">전자상거래 등에서의 소비자보호에 관한 법률</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.4285%;"><span class="wysiwyg-font-size-medium">5년</span></td>
            </tr>
            <tr>
              <td class="wysiwyg-text-align-center" style="width: 30.8571%;"><span class="wysiwyg-font-size-medium">대금결제 및 재화 등의 공급에 관한 기록</span></td>
              <td class="wysiwyg-text-align-center" style="width: 58.7143%;"><span class="wysiwyg-font-size-medium">전자상거래 등에서의 소비자 보호에 관한 법률, 국세기본법, 법인세법, 부가가치세법</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.4285%;"><span class="wysiwyg-font-size-medium">5년</span></td>
            </tr>
            <tr>
              <td class="wysiwyg-text-align-center" style="width: 30.8571%;"><span class="wysiwyg-font-size-medium">소비자의 불만 또는 분쟁처리에 관한 기록</span></td>
              <td class="wysiwyg-text-align-center" style="width: 58.7143%;"><span class="wysiwyg-font-size-medium">전자상거래 등에서의 소비자보호에 관한 법률</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.4285%;"><span class="wysiwyg-font-size-medium">3년</span></td>
            </tr>
            <tr>
              <td class="wysiwyg-text-align-center" style="width: 30.8571%;"><span class="wysiwyg-font-size-medium">표시·광고에 관한 기록</span></td>
              <td class="wysiwyg-text-align-center" style="width: 58.7143%;"><span class="wysiwyg-font-size-medium">전자상거래 등에서의 소비자보호에 관한 법률</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.4285%;"><span class="wysiwyg-font-size-medium">6개월</span></td>
            </tr>
            <tr>
              <td class="wysiwyg-text-align-center" style="width: 30.8571%;"><span class="wysiwyg-font-size-medium">사이트 방문에 관한 기록</span></td>
              <td class="wysiwyg-text-align-center" style="width: 58.7143%;"><span class="wysiwyg-font-size-medium">통신비밀보호법</span></td>
              <td class="wysiwyg-text-align-center" style="width: 10.4285%;"><span class="wysiwyg-font-size-medium">3개월</span></td>
            </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <p><strong>※ 개인정보 수집·이용 동의 거부<br></strong>이용자가 상기 '필수' 동의 사항을 거부하는 경우, 서비스 가입 및 이용에 제한이 있을 수 있습니다.<strong><br></strong></p></div>

        <div class="article-attachments">
          <ul class="attachments">

          </ul>
        </div>


      </div>
    </section>
  </article>

</div>

<div id="footer"></div>
</body>
</html>