<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/common/reset.css" type="text/css" rel="stylesheet">
        <link href="/css/common/footer.css" type="text/css" rel="stylesheet">
        <title>Title</title>
    </head>
    <body>
        <footer id="main_footer">
          <div id="footer_top">
            <div id="footer_logo">
              <img src="/img/footer_logo.png" alt="메인 로고" />
            </div>
            <ul id="footer_menu">
              <li>기업소개</li>
              <li>고객센터</li>
              <li>이용약관</li>
              <li>제휴문의</li>
              <li>개인정보처리방침</li>
            </ul>
          </div>
          <div id="footer_bottom">
            <p>(주)프리트리| 대표: 프리트리 | (08505) 서울특별시 금천구 가산디지털2로 123, 413호 (월드메르디앙2차) | TEL : 02-2025-8523</p>
            <p>사업자등록번호:  119-86-20319 | Email : helpdesk@kosmo.co.kr </p>
            <p>© Freetree, Inc</p>
          </div>
        </footer>
    </body>
</html>