<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/common/reset.css" type="text/css" rel="stylesheet">
  <link href="/css/common/header.css" type="text/css" rel="stylesheet">
  <script src="/js/common/jquery-1.12.3.js"></script>
  <script src="/js/common/header.js"></script>
  <title>Title</title>
  <script>
    slideload();
  </script>

</head>
<body>

<header>

  <div id="main_header">

    <div id="sticky">

      <div id="top_header">
        <div id="search_wrap">
          <div id="search_bar">
            <form>
              <select class="bar">
                <option>프로젝트</option>
                <option>프리랜서</option>
                <option>커뮤니티</option>
                <option>Q&A</option>
              </select>
              <input type="text" class="input" placeholder="검색어를 입력해주세요">
              <span class="img-Search">
						  	<img src="/img/search.png" alt="검색 로고">
						</span>
            </form>
          </div>
          <!-- search_bar end -->
          <div id="login_warp">
            <input type="button" value="로그인" class="account">
            <input type="button" value="회원가입" class="account">
          </div>
        </div>
        <!-- search_wrap end -->

      </div>
      <!-- top_header end -->

      <div id="bottom_header">
        <div id="logo_wrap">
          <div id="main_logo">
            <img src="/img/main_logo.png" alt="메인 로고" />
          </div>

          <div id="nav_wrap">
            <input type="button" value="프리랜서" class="menu">
            <input type="button" value="프로젝트" class="menu">
            <input type="button" value="커뮤니티" class="menu">
            <input type="button" value="Q&A" class="menu">
          </div>

          <a href="#" class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>

        </div>
        <!-- logo_wrap end -->
      </div>
      <!-- bottom_header end -->

    </div>

  </div>

</header>

<div id="slide_menu">
  <div id="all_menu">

    <ul class="menu_btn">
      <li><input type="button" value="프리랜서" class="bold"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
    </ul>

    <ul class="menu_btn">
      <li><input type="button" value="프로젝트" class="bold"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
    </ul>

    <ul class="menu_btn">
      <li><input type="button" value="커뮤니티" class="bold"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
    </ul>

    <ul class="menu_btn">
      <li><input type="button" value="Q&A" class="bold"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
      <li><input type="button" value="메뉴"></li>
    </ul>



  </div>
</div>
<!--slide_menu end-->

</body>
</html>