/* section_1 부분 */
#section_1 {
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    height: 600px;
    background-color: #EFF3FD;
    position: relative;
    overflow: hidden;
}

/* slide image부분 */
#slide {
    width: 200%;
    height: 600px;
    background-color: rgb(117, 233, 117);
    float: left;
    display:flex;
    justify-content: space-between;
    transition: transform 0.5s ease-out; /* 슬라이드 애니메이션 추가 */
    transform: translateX(0%); /* 초기 위치 설정 */
    /*margin-top: 91px;*/
}

.img_wrap{
    float:left;
    width: 100%;
    transform: translateX(0%);
    /* display:flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}

.img_wrap>img{
    width:100%;
    height:600px;
    background-repeat: no-repeat;
}

.btn{
    width:300px;
    height:50px;
    background-color:#20D5A4;
    border:none;
    color: white;
}

#btn1, #btn2{
    position: absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-150px);
    cursor: pointer;
}
/* slide image end */


.slide_button{
    width: 50px;
    height: 50px;
    /*background-color: chartreuse;*/
    position: absolute;
    top: 50%;
    transform: translateY(-25px);
    cursor: pointer;
}

#slide_prev_button{
    left: 10px;
}

#slide_next_button{
    right:10px;
    text-align: right;
}

#dot-list{
    width:40px;
    height:15px;
    /*background-color: blueviolet;*/
    position: absolute;
    bottom: 10px;
    margin-left: 50%;
    transform: translateX(-20px);
}

#dot-list li{
    width:15px;
    border-radius:50%;
    height:15px;
    background-color:white;
    box-sizing:border-box;
    float:left;
    margin-right:10px;
    cursor: pointer;
}

#dot-list li:last-child{
    margin-right:0;
}

#dot-list>li.on{
    background-color:#20D5A4;
}

/* section_1 end */


#section_2{
    margin-top: 30px;
    width:100%;
    display:flex;
    justify-content: center;
    /*align-items: center;*/
    /*margin-top:40px;*/
}

#section_2 > img {
    width: 850px;
    margin-bottom: 20px;
}

#section_3{
    width:100%;
    display:flex;
    justify-content: center;
    /*align-items: center;*/
    margin-bottom: 30px;
}

#section_3 > img {
    width: 850px;
    margin-top: 10px;
}