body{
    background-color: #EBEBEB;
}

.btn {
    font-size: 17px;
    padding: 6px 12px;
    margin: 2px;
    background-color: #20D5A4;
    color: white;
    float: right;
    border-radius: 5px;
    border:0px;
    cursor: pointer; /* 커서 모양을 손가락 모양으로 변경 */
    transition: background-color 0.3s; /* 부드러운 변화를 위해 transition 효과 추가 */
}

.btn:hover{
    background-color: #14a686; /* hover 시 배경색 변경 */
}

h1{
    padding: 30px;
    font-size: 48px;
    color: #4d4d4d;
}
thead{
    color: #4d4d4d;
    border-radius: 5px;
}
h3{
    font-size: 24px;
    color: #4d4d4d;
    margin-bottom: 20px;
    text-align: center;
}
#insertBtn{
    margin-right: 64px;
}

.qnatable{
    background-color: white;
    padding: 50px;
    text-align: center;
    margin: 100px auto;
    border: solid 4px #EBEBEB;
    border-radius: 20px;
}
td{
    padding: 12px;
    font-size: 18px;
    text-align: center;
    width: 10%;
}
th{
    font-size: 22px;
    padding: 12px;
    text-align: center;
    width: 10%;
}
tr{
    border: solid 4px #EBEBEB;
}