.article-container {
    width: 100%;
}

.article {
    width: 890px;
    margin: 0 auto;
}

.article-title {
    flex-basis: 100%;
}

.article-content {
    line-height: 1.6;
    margin: 30px 0;
    word-wrap: break-word;
    color: #333333;
}

h1 {
    margin-top: 30px;
    font-size: 32px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1 {
    font-weight: 400;
}

